nav{
    background-color:brown;
}

.navbar{
    border: 0px;
    border-radius: 0px;
    background-color:brown;
}
.navLinkAlign{
    padding-left: 300px;
}
.navbar-brand{
    padding-right:120px ;
}
li{
        padding-right: 90px;
}
.navtext{
    color: white;
}
.navStyle{
    margin-left:150px ;
}
.nav-link{
    color: rgb(235, 246, 235);
    
}
.navbar-brand
{
    color: whitesmoke;
}
.nav-link{
    font-size: 18px;
}